---
import Block from "./atoms/block.astro";
import Container from "./atoms/container.astro";
import GridItem from "./atoms/grid-item.astro";
import Grid from "./atoms/grid.astro";
import ContactForm from "./contact-form.svelte";

export interface Props extends Omit<astroHTML.JSX.HTMLAttributes, "slot"> {}

const { class: className, ...props } = Astro.props as Props;
---

<Block id="contact" class:list={[className, "contact"]} {...props}>
  <Container>
    <h2>Are we a match?</h2>
    <Grid class="grid">
      <GridItem span={[6, 8, null, 6, 5]}>
        <ContactForm client:visible />
      </GridItem>
    </Grid>
  </Container>
</Block>

<style>
  h2 {
    font-size: var(--text-2xl);

    @media (--viewport-sm) {
      font-size: var(--text-3xl);
    }
  }

  .grid {
    margin-top: var(--space-16);
  }
</style>
