---
export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...props } = Astro.props as Props;
---

<section class:list={[className, "block"]} {...props}>
  <slot />
</section>

<style>
  .block {
    margin-top: var(--space-16);
    margin-bottom: var(--space-16);
    padding-top: var(--space-16);
    border-top: 1px solid var(--color-black);

    @media (--viewport-sm) {
      margin-top: var(--space-32);
      margin-bottom: var(--space-32);
      padding-top: var(--space-32);
    }
  }
</style>
