---
export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...props } = Astro.props as Props;
---

<div class:list={[className, "container"]} {...props}>
  <slot />
</div>

<style>
  .container {
    margin: 0 auto;
    max-width: 1400px;
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }
</style>
