---
import { responsive, ResponsiveValues } from "../../utils/responsive";

export interface Props extends astroHTML.JSX.HTMLAttributes {
  span: ResponsiveValues;
}

const { span, class: className, ...props } = Astro.props as Props;
---

<div class:list={[className, "grid-item"]} {...props}>
  <slot />
</div>

<style define:vars={{ ...responsive("span", span) }}>
  .grid-item {
    @mixin responsive span;

    grid-column: span var(--span);
  }
</style>
