---
import "@fontsource/josefin-sans";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import { theme } from "../config/theme";
import { flattenProperties } from "../utils/object";

const cssVars = flattenProperties(theme);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Adam Alfredsson</title>
    <meta
      name="description"
      content="Adam Alfredsson is a fullstack web developer based in Sweden."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="mask-icon.svg" color="#F4F4F4" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <meta name="theme-color" content="#F4F4F4" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global define:vars={cssVars}>
      html,
      body {
        font-family: "Josefin Sans", sans-serif;
        margin: 0;
        scroll-behavior: smooth;
      }

      html,
      body,
      * {
        box-sizing: border-box;
      }

      body,
      button {
        font-size: var(--text-base);

        @media (--viewport-md) {
          font-size: var(--text-lg);
        }
      }

      a {
        text-decoration: none;
        color: initial;
      }

      p,
      ul,
      ol {
        margin: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin: 0;
        font-weight: normal;
      }

      p {
        max-width: 55ch;
        line-height: 1.4;
      }

      ul,
      ol {
        padding: 0;
        list-style: none;
      }
    </style>
  </body>
</html>
